/* Form css********************************* */

   table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  h1{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  thead th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  tbody td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tbody td:first-child {
    font-weight: bold;
  }
  
  .edit-btn, .delete-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .edit-btn:hover, .delete-btn:hover {
    background-color: #3e8e41;
  }
  

  .add-data-btn {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
    left: 45vw; 
    top: 40px;
   }
  
  .add-data-btn:hover {
    background-color: #005f6b;
  }
  


  /**/

  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  label {
    margin-top: 10px;
    font-size: 18px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 0 5px #008CBA;
    border: 1px solid #008CBA;
  }
  
  button[type="submit"] {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #005f6b;
  }
  
  .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  

  .table-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #008CBA;
    letter-spacing: 1px;
  }